@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
	font: 16px/1 'Open Sans', sans-serif;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:-1;
}


.nav {
  position: absolute;
  top: 25%;
  left:10%;
  width: 80%;
  height: 20%;
  margin-top: -40px;
  z-index:1;
  background: #fff;
  transform: translateZ(0);
}
.nav:hover .link {
  width: 5%;
}
.nav .link {
  position: relative;
  float: left;
  width: 20%;
  height: 100%;
  color: #aaa;
  border-right: 1px solid #ddd;
  transition: .5s width;
  overflow: hidden;
  cursor: pointer;
}
.nav .link:last-child {
  border-right: 0;
}
.nav .link:hover {
  width: 80%;
  color: #555;
}
.nav .link .small {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 130px;
  line-height: 78px;
  text-align: center;
  font-family: fontawesome;
  font-size: 24px;
}
.nav .link .full {
  position: absolute;
  top: 22px;
  left: 230px;
  text-transform: uppercase;
}
.nav .link .full .f1, .nav .link .full .f2 {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.nav .link .full .f2 {
  margin-top: 8px;
  font-size: 12px;
}
.nav .link .prev {
  position: absolute;
  top: 30%;
  left: 7px;
  font-family: fontawesome;
  font-size: 12px;
  line-height: 78px;
  transition: .5s opacity;
  opacity: 0;
}
.nav .link:hover .prev {
  opacity: 0;
}
.nav:hover .prev {
  opacity: 1;
}

.fa-lg {
	color:#00000;
    font-size: 4em;
    line-height: 0.75em;
    vertical-align: -15%;
}
