
.DS_Store
CodigoFuente/.DS_Store
CodigoFuente/indico-web/.DS_Store
CodigoFuente/indico-web/src/.DS_Store
CodigoFuente/indico-web/src/main/.DS_Store
.DS_Store
/.metadata/
./RemoteSystemsTempFiles/
./Servers/
indico-ear/.gitignore
.settings/
.classpath
.gitignore
.project
.settings/
.classpath
.metadata/
