body {
	font-family: 'Roboto', sans-serif !important;
	overflow-x: hidden;
	overflow-y: scroll;
	/*background: url("#{resource['images/paper-3249919_1920.jpg']}");*/
	/*background: url("#{resource['images/shutterstock_77423536.jpg']}");*/
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/**START: BREADCUMB**/
.ui-breadcrumb {
	background: none !important;
	border: none !important;
}

.ui-breadcrumb-chevron.ui-icon.ui-icon-triangle-1-e {
	/* 	background-image: none   !important; */
	background-image: url(../resources/images/divide-mathematical-sign.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0.8vw 0.8vw;
}

.bcumb {
	padding-top: 10px !important;
	padding-bottom: 5px !important;
	background-color: white !important;
	font-size: 0.8vw !important;
	padding-left: 2.5vw !important;
	color: #1b1d1f !important;
}

.bcumb a {
	font-weight: 500;
	color: #535353 !important;
	text-decoration: none !important;
}

.bcumb a:hover {
	color: #6B6B6B !important;
}

.bcumb a:active {
	color: #6B6B6B !important;
}

.bcumb ul li li::before {
	content: "\/" !important;
	background-repeat: no-repeat;
	color: #1b1d1f !important;
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.ui-widget-header .ui-icon {
	background-image: url(../resources/images/divide-mathematical-sign.svg);
}
/* END : BREADCUMB*/
a {
	color: #535353 !important;
	font-weight: 500;
	text-decoration: none !important;
}

.ui-widget-header

a:hover {
	color: #6B6B6B !important;
}

a:active {
	color: #6B6B6B !important;
}

/**CONTAINER**/
.container-fluid {
	margin-left: 5.5vw !important;
	margin-right: 10vw !important;
}

.jumbotron {
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 4.7vw;
	padding-bottom: 0px !important;
	margin-bottom: 33px !important;
}

#column {
	background-color: #eeeeee;
	padding-left: 0px;
	padding-right: 20px !important;
	/**padding-right: 78px;**/
}

.firstCol {
	background-color: white;
	padding-bottom: 34px;
	margin-right: 0.5vw;
}

.firstCol>h2 {
	font-weight: 500;
	font-size: 2.8vw;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #006fb9;
}

.firstCol>h3 {
	font-weight: 700;
	margin-top: -6px;
	font-size: 1.3vw;
	color: #535353;
	font-variant: small-caps;
}

/**GIF**/
#image {
	margin-left: 10px;
	display: block;
	width: 45vw;
	height: 26.4vw;
}

/**NOTICIAS**/
.noticias {
	padding-left: 3.3vw;
}

#noticias-last {
	padding-left: 3.3vw;
	padding-bottom: 0px;
}

.dates {
	font-weight: bold;
	font-style: italic;
	font-size: 0.75vw;
	color: #006fb9;
	text-transform: uppercase;
	margin-bottom: 1px !important;
}

.separator {
	border-top: 1px solid #006fb9;
	margin-top: 1px;
	margin-bottom: 1px;
}

.titles {
	font-weight: 700 !important;
	font-size: 0.8vw;
	color: #535353;
	margin-bottom: 1px !important;
}

.card {
	background-color: #006fb9 !important;
	border-bottom: 6px solid #003E6C !important;
	color: white !important;
	border-radius: 0px !important;
	width: 100% !important;
	size: auto;
}

.panel-group {
	margin-bottom: 0px !important;
}

.panel-body {
	padding: 0px !important;
}

.content {
	font-size: 1.3vw;
	font-weight: 600 !important;
	display: block !important;
	line-height: 1 !important;
	padding-left: 15px !important;
	padding-right: 60px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

/**RECTANGULO**/
#rectangle {
	background-color: white;
	margin-top: -2px;
	height: 90px;
	width: 88%;
	padding-bottom: 0px;
}

/**MAS INDICADORES**/
.subtitle {
	margin-left: -0.63vw;
	margin-right: -5px;
}

.oneline {
	border-top: 2px solid #006fb9;
	margin-top: 1px;
	margin-bottom: 1px;
}

#bottomtext {
	color: #006fb9;
	font-weight: 800 !important;
	font-size: 1.56vw !important;
	margin-top: 0px;
	text-align: center;
}

#lineleft {
	padding-left: 0px;
	padding-right: 0.63vw;
	padding-top: 0.75vw;
}

#lineright {
	padding-left: 0.63vw;
	padding-right: 0px;
	padding-top: 0.75vw;
}

#linecenter {
	padding-left: 0px;
	padding-right: 0px;
}

/**CAROUSEL**/
#indicadores {
	padding-top: 2.19vw !important;
	width: 105% !important;
}

#indicadores .carousel-inner {
	padding-left: 6vw !important;
}

/*MOBILE*/
.mobileCarousel .carousel-control {
	height: 70px !important;
	width: 50px !important;
	position: absolute !important;
	opacity: .9 !important;
	margin-top: 62px !important;
}

.litCarousel .carousel-control {
	height: 16.91vw !important;
	width: 12.08vw !important;
	position: absolute !important;
	opacity: .9 !important;
	margin-top: 14.98vw !important;
}

#indicadores .carousel-control {
	height: 3.75vw !important;
	width: 3.75vw !important;
	position: absolute !important;
	opacity: .9 !important;
	margin-top: 3.88vw !important;
}

/*MOBILE*/
.mobileCarousel .carousel-control.left {
	margin-left: 100px;
	background-image: url(../resources/images/Derecha-Mobile.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.litCarousel .carousel-control.left {
	margin-left: 6.25vw;
}

.mobileCarousel .carousel-control.left:hover {
	background-image: url(../resources/images/IzquierdaAzul01.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#indicadores .carousel-control.left {
	left: 0;
	margin-left: 0;
	background-image: url(../resources/images/Izquierda01.svg);
}

/*MOBILE*/
.mobileCarousel .carousel-control.right {
	margin-right: 100px;
	background-image: url(../resources/images/IzquierdaMobile.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.litCarousel .carousel-control.right {
	margin-right: 6.25vw;
}

.mobileCarousel .carousel-control.right:hover {
	background-image: url(../resources/images/DerechaAzul01.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#indicadores .carousel-control.right {
	right: 0px;
	margin-right: 0;
	background-image: url(../resources/images/Derecha01.svg);
}

#indicadores .carousel-control.left:hover {
	background-image: url(../resources/images/IzquierdaAzul01.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#indicadores .carousel-control.right:hover {
	background-image: url(../resources/images/DerechaAzul01.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.preCuadros {
	margin-left: -0.31vw;
	margin-right: -1.13vw;
}

.cuadros {
	height: 13.8vw !important;
	width: 17.3vw !important;
	border: 1px solid #eeeeee;
}

.cardCustonT {
	width: 240px;
	height: 200px;
	border: 1px solid #eeeeee !important;
	display: block;

}


.imagecarousel {
	vertical-align: bottom;
	width: 40%;
/* 	margin-bottom: -3.8vw; */
	text-align: center;
	margin-right: auto;
	display: inline;
	padding: 0px;
	padding-top: 20px;
}

.linebelow {
	border-top: 3px solid #006fb9;
/* 	margin-top: 6.5vw; */
	width: 80%;
	margin-bottom: 0px;
}

.textbelow {
	color: #535353;
	position: relative;
	vertical-align: middle;
	text-align: center;
 	padding-left: 10px;
 	padding-right: 10px;
	border-top: 3px solid #006fb9;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 12px;
	justify-content: center;
    align-items: center;
}

.textbelow-tittle {
	font-size: 15px !important;
	text-transform: uppercase ;
	font-family: 'Roboto', sans-serif !important;
	text-align: center;
	margin-bottom: 5px !important;
	margin-top: 5px !important; 
	
}

.importantxt {
	font-size: 16px !important;
	font-weight: bold !important;
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
}

.textbelow-tittleBV {
	font-size: 15px !important;
	text-transform: uppercase ;
	font-family: 'Roboto', sans-serif !important;
	text-align: center;
}

.importantxtBV {
	font-size: 16px !important;
	font-weight: bold !important;
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
}

.btnCarousel {
	height: 60px;
	width: 60px;
	opacity: 0;
}

/**CAROUSEL 2**/
#lastRow {
	margin-left: -110px;
	margin-right: -42px;
	margin-top: -7.5vw;
}

#preFooter {
	padding-top: 2vw;
	width: 110%;
	position: relative;
	vertical-align: middle;
	left: 0px;
}

#preFooter .carousel-inner {
	padding-left: -0.63vw;
}

#preFooter .carousel-control {
	opacity: 0;
}

#preFooter .carousel-indicators {
	bottom: -6vw;
	padding-bottom: 2vw;
}

#preFooter .carousel-indicators li {
	background-color: rgb(0, 111, 185, 0.3);
	border-radius: 1%;
	width: 1.39vw;
	height: 1.39vw;
	vertical-align: middle;
	margin: 0.28vw;
}

#preFooter .carousel-indicators .active {
	background-color: rgb(0, 111, 185);
	width: 1.88vw;
	height: 1.88vw;
}

.prefooterimg {
	/*height: 25.69vw !important;*/
	height: 100% !important;
	width: 100% !important
}

/**MOBILE**/
.mobilebody {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.mobilecontainer {
	margin-left: 0px !important;
	padding-left: 1px !important;
	margin-right: 0px !important;
	padding-right: 1px !important;
	width: 100%;
}

.mobilecol {
	background-color: #eeeeee;
	padding-top: 27px !important;
	padding-left: 40px !important;
	margin-right: 0px;
}

.mobilecol>h2 {
	font-size: 8vw;
}

.mobilecol>h3 {
	font-weight: 700;
	margin-top: -3px;
	font-size: 4vw;
}

#mobileimgcontainer {
	padding-top: 0px;
	margin-top: -35px;
	background-color: #eeeeee;
}

#mobileImg {
	width: 110%;
	margin-left: 1vw;
	margin-right: 2vw;
}

.mobilenot {
	padding-left: 50px;
}

.mobileSubtitle {
	display: flex;
	justify-content: space-between;
}

.mobileline {
	border: 1px solid #006fb9;
	width: 90%;
	margin-top: 8px;
}

#mobileLeft {
	margin-left: -1px;
}

#mobileRight {
	margin-right: -1px;
}

#mobileCenter {
	line-height: 1.5em;
	margin-top: -33px;
	padding: 0px;
	margin-right: -10px;
	margin-left: -10px;
}

#mobileText {
	color: #006fb9;
	font-weight: 500 !important;
	font-size: 25px !important;
	text-align: left;
}

.carMobile {
	margin-top: 0.25vw;
	margin-bottom: 9.42vw;
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/**HAY QUE CAMBIAR ESTO**/
.mobileCuadro {
	width: 254px;
	height: 210px;
	border: 3px solid #eeeeee;
	margin: auto;
}

.imagecarouselMob {
	vertical-align: bottom;
	width: 40%;
	margin-bottom: -90px;
	margin-left: 69px;
	margin-right: auto;
	display: inline;
	padding: 0px;
}

.linebelowMob {
	border-top: 3px solid #006fb9;
	margin-top: 100px;
	width: 80%;
	margin-bottom: 0px;
}

.textbelowMob {
	color: #535353;
	font-variant: small-caps;
	font-weight: 500;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.textbelowMob>h3 {
	margin-top: 2px;
	font-size: 20px;
	line-height: 100%;
}

.buttonMobile {
	background: transparent;
	border: none !important;
	height: 15.94vw !important;
	width: 11.59vw !important;
	opacity: 0;
}

/*LITTLE CELLPHONES*/
.littleSubtitle {
	display: flex;
	justify-content: space-between;
	margin-left: 5px !important;
	margin-right: 5px !important;
}

.littleline {
	border: 1px solid #006fb9;
	margin-top: 8px;
}

#littleLeft {
	margin-left: -2.9vw;
}

#littleRight {
	margin-right: -2.9vw;
}

#littleCenter {
	line-height: 1.5em;
	margin-top: -7.97vw;
	padding: 0px;
	margin-right: -2.3vw;
	margin-left: -2.3vw;
}

#littleText {
	color: #006fb9;
	font-weight: 500 !important;
	font-size: 2rem !important;
	text-align: center;
}

.litCuadro {
	width: 61.35vw;
	height: 50.72vw;
	border: 3px solid #eeeeee;
	margin: auto;
}

.imagecarouselLit {
	vertical-align: bottom;
	width: 40%;
	margin-bottom: -21.74vw;
	margin-left: 16.67vw;
	margin-right: auto;
	display: inline;
	padding: 0px;
}

.linebelowLit {
	border-top: 3px solid #006fb9;
	margin-top: 24.15vw;
	width: 80%;
	margin-bottom: 0px;
}

.textbelowLit {
	color: #535353;
	font-variant: small-caps;
	font-weight: 500;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding-left: 7.25vw;
	padding-right: 7.25vw;
}

.textbelowLit>h3 {
	margin-top: 0.48vw;
	font-size: 4.83vw;
	line-height: 100%;
}

.ui-widget-content .ui-state-highlight {
	background-color: #006fb9;
}

.ui-corner-right {
	background-color: #006fb9 !important;
}

.ui-button {
	background-color: #006fb9 !important;
}

.ui-icon.ui-icon-triangle-1-s.ui-c {
	color: #fff !important;
}

.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content,
	.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header,
	.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header,
	.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header>tr.ui-widget-header,
	.ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content,
	.ui-panelgrid.ui-panelgrid-blank tbody>tr.ui-widget-content>td.ui-panelgrid-cell,
	.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer>tr.ui-widget-footer
	{
	vertical-align: top !important;
}

/*.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header > tr.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content > td.ui-panelgrid-cell, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer > tr.ui-widget-footer {
	width: 100%;
}*/
.ui-selectonemenu {
	width: 100% !important;
}

.ui-selectonemenu-label {
	width: 100% !important;
}

.ui-selectonemenu {
	width: 100% !important;
}

.ui-selectonemenu-label {
	width: 100% !important;
}

.ui-selectonemenu-panel {
	padding: 2px 2px;
	white-space: wrap;
}

.ui-selectonemenu-list-item {
	padding: 2px 2px;
	white-space: wrap;
}

ui-selectonemenu-filter-container {
	width: 100% !important;
}

.ui-selectonemenu-trigger .ui-icon-triangle-1-s,
	.ui-selectcheckboxmenu-trigger {
	background-color: #006fb9;
	color: white;
}

.toolbar-custom {
	margin: 0px 0px 0px 0px !important;
	width: 100% !important;
	height: 15px !important;
	border-color: !important;
	align-items: center;
}

.panel-toolbar-custom {
	left: 0px !important;
	right: 0px !important;
	padding-left: 4% !important;
	padding-right: 4% !important;
}



.buttons-background {
	background-color: #003E6C !important;
	color: white !important;
	background: #003E6C !important;
	width: 100% !important;
	border-color: #003E6C !important;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-family: fantasy;
	height: 16px;
}

/*
ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only
*/
.jqplot-title {
	color: #003E6C !important;
	top: -25px !important;
	font-weight: bold;
	font-size: 1.2em !important;
	line-height: 2.5;
}

.jqplot-yaxis-mini {
	width: 0px !important;
}

.jqplot-yaxis-mini {
	width: 0px !important;
}


.jqplot-yaxis {
	width: 50px !important;
}

.jqplot-y2axis {
	width: 50px !important;
}

.jqplot-yaxis-label {
	overflow:visible !important;
	color: #850024 !important;
 	top:  -10px !important;
 	font-weight: bold !important;
 	font-size: 11px !important;
 	width: 110px !important;
 	text-align: left;
 	float: left !important;
 	left: 0px !important;
 	padding-right: 10px ! important;
 	/*margin-left: -200px !important;*/
}

.jqplot-y2axis-label {
	overflow:visible !important;
	color: rgb(0, 111, 185) !important;
 	top:  -10px !important;
 	font-weight: bold !important;
 	font-size: 11px !important;
 	width: 100px !important;
 	float: left !important;
 	/*Margen del t�tulo del eje Y derecho*/
 	left: -80px !important;
 	position: relative !important;
}

.jqplot-grid-canvas {
/* 	left: -20px !important; */
 	width: 100% !important;
/* /*  	margin-left : -30px !important; */ */
 	/*width: 140% !important;*/
}

.jqplot-base-canvas {
/*  	left: -20px !important;  */
/*  	margin-left: -20px !important; */
 	width: 100% !important;
/* /*  	left : -60px !important; */ */
}

.jqplot-yaxis-tick {
	color: #850024 !important;
}

.jqplot-y2axis-tick {
	color: #003E6C !important;
}

.jqplot-xaxis-tick {
	color: black !important;
}

.jqplot-highlighter-tooltip {
	background-color: #00416A !important;
	color: #522525;
	font-size: 13px;
}

table.jqplot-table-legend {
	font-size: 9px !important;
	/*Margen de la legende eo255004*/
	right: -10px !important;
	top: -16px !important;
	width: 30% !important;
}


.cleaner2 {
	width: 100% !important;
	padding: 0px 0px 0px 0px !important;
	padding-left: 0px !important;
	margin: 0px 0px 0px 0px !important;
	float: none !important;
}

.superzoom {
	width: 80vw;
	max-width: 100%;
}

.superzoominternal {
	width: 60vw;
	max-width: 100%;
}

/* div.jqplot-table-legend-swatch { */
/* 	color:#850024; */
/* } */

.ui-panelgrid .ui-panelgrid-cell {
	 	padding: 2px 0px !important;

}

.ui-panel .ui-panel-content {
	padding: 0px 2px 0px 2px !important;
}

td.uipanelgrid-cell {
	padding: 0px 2px 0px 2px !important;
}

.ui-messages-error {
	background: #850024 !important;
	color: white;
}

.returnBack {
	background-image: url(../resources/images/AtrasN.svg);
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
	float: left;
}

.returnBackText {
	float: left;
	font-size: 13px;
	color: #006fb9;
	padding: 4px 3px 2px 6px !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	padding: 4px 0px 0px 0px !important;
}

.icon-linearoja {
	background-image: url('../resources/images/linearoja.png') !important;
	width: 16px !important;
	padding: 4px 0px 0px 0px !important;
	position: absolute !important;
	background-position: 0 0;
}

.icon-lineaazul {
	background-image: url('../resources/images/lineaazul.png') !important;
	width: 16px !important;
	height: 16px !important;
	padding: 4px 2px 2px 2px !important;
	position: absolute !important;
	background-position: 0 0;
}

.icon-restaurar {
	background-image: url('../resources/images/Restaurar01WHITE.svg')
		!important;
	font-size: 16px !important;
}

.icon-next {
	background-image: url('../resources/images/DerechaAzul01.svg') !important;
	height: 16px;
}

.icon-close-help {
	background-image: url('../resources/images/Cerrar01.svg') !important;
	height: 24px;
	width: 24px;
	background-repeat: no-repeat !important;
}

.button-close-help {
	background-color: white !important;
	border: 1px solid white !important;
	overflow: visible !important;
}

.button-toolbar-help {
	background-image: none !important;
	border: 0;
	background-color: white !important;
}

/*inicio : tabs del help*/
.accordiontabheader {
}

/*
	Cuando el tab esta inactivo
*/
.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.tabhelp {
	background: #f6f7f9 !important;
	border-color: #d9d9d9 !important;
	color: #555 !important;
	margin-top: 1% !important;
    min-height: 45px !important;
}

.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.tabhelp hr {
	border: 0.5px solid #850024 !important;
	background: #7d0021;
	height: 20px;
	width: 0.5px;
}

.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.tabhelp div > label:first-child {
 	color: #7d0021;
}

.ui-accordion-header.ui-helper-reset.ui-state-default.ui-corner-all.tabhelp div > label {
	padding-top: 4px !important;
 	color: #535353;
 	height: 100%;
}


/*
    Cuando el tab esta activo
*/

.ui-accordion-header.ui-helper-reset.ui-state-default.tabhelp.ui-state-active.ui-corner-top {
	background: #003E6C !important;
	border: #003E6C !important;
	color: white !important;
	margin-top: 1% !important;
    min-height: 45px !important;
}

.ui-accordion-header.ui-helper-reset.ui-state-default.tabhelp.ui-state-active.ui-corner-top hr {
	border: 0.5px solid #ffffff !important;
	background: #ffffff !important;
	border-color: #ffffff;
	height: 20px;
	width: 0.5px;"
}

.ui-accordion-header.ui-helper-reset.ui-state-default.tabhelp.ui-state-active.ui-corner-top span {
	color:  #ffffff !important;
	border-color: #ffffff !important;
}


.tabhelp {
	height: 30px !important;
	padding-bottom: 10px !important;
	border-radius: 1px !important;
	max-width: 100% !important;
}

.imagehelp {
	width: 100%;
	text-align: center !important;
}

.tabhelp span.ui-icon.ui-icon-triangle-1-e {
	background-image: none !important;
	background-size: 0 !important;
	width: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.tabhelp span.ui-icon.ui-icon-triangle-1-s {
	background-image: none !important;
	background-size: 0 !important;
	width: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top.ui-draggable-handle {
	background-color: red !important;
	color: blue !important;
	padding: 0px !important;
	margin: 0px !important;
	height: 0px !important;
}

.mensajeHelp {
	background-color: #006fb9 !important;
	color: #ffffff !important;
	padding-top: 0px !important;
	margin-top: -13px !important;
	border: 4px !important;

}

.tabhelp ui-accordion-content.ui-helper-reset.ui-widget-content {
 	padding-top: 0px;
 	margin-top: -1px;
 	vertical-align: middle !important;
 }

.panelHelp {
	left: -30px !important;
	margin-left: -30px !important;
	text-align: left !important;
	padding-top: 5px !important;
	height: 30px !important;
	display: block;
	width: 100% !important;
	max-width: 100% !important;
}

/* Label pregunta */
.labelpregunta {
	font-family: 'Roboto', sans-serif !important;
	font-size: 13px;
/* 	padding-top: 5px; */
	margin-left: 5px;
	padding-left: 5px !important;
	overflow: visible;
	height: 100% !important;
	display: block;
	width: 100% !important;
	min-width: 100% !important;
	max-width: 100% !important;
	color: #535353 !important;
	text-align: left !important;
}

.numberPregunta {
	font-size: 12px;
/* 	padding-top: 5px; */
/* 	margin-left: 5px; */
/* 	padding-left: 5px; */
/* 	padding-right: 5px; */
	overflow: visible;
	color: #850024 !important;
	font-weight: bold;
	height: 100% !important;
	display: block !important;
	width: 25px !important ;
	max-width: 25px !important;
	min-width: 25px !important;
	text-align: center !important;
	border-right: 3px solid #850024 !important;
}

/*end : tabs del help*/


.icon-before {
	background-image: url('../resources/images/IzquierdaAzul01.svg')!important;
	height: 16px;
}

.icon-download {
	background-image: url('../resources/images/Descarga01.svg') !important;
	height: 24px;
	padding: 0px 0px 0px 0px !important;
	float: right !important;
	position: absolute !important;
	margin-top: 4px !important;
}

.ui-chart {
	margin-bottom: 50px;
}

.icon-azul {
	background-image: url('../resources/images/FlechaAzul01.svg') !important;
	height: 18px !important;
	width: 24px !important;
	padding-bottom: 0px ! important;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
 	-ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}

.icon-azul-reves {
	background-image: url('../resources/images/FlechaAzul01.svg') !important;
	height: 16px !important;
	width: 24px !important;
	padding-top: 4px ! important;
}

.panelgrisindicoselected {
	background: #eeeeee;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	width: 100% !important;
	height: 24px !important;
	color: #003E6C;
}

.panelgrisindicounselected {
	background: #eeeeee;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	width: 100% !important;
	height: 24px !important;
	color: #003E6C;
}

.fontTabTittle {
	font-size: 14px !important;
	margin-left: 0px;
	padding-top: 5px;
	color: #006fb9 !important;
	font-weight: bold;
	border-left: 3px solid #850024 !important;
	padding-left: 10px;
	/*font-family: 'Roboto', sans-serif !important;*/
}

.fontTabTittle2 {
	font-size: 14px !important;
	margin-left: 0px;
	padding-top: 5px;
	color: #006fb9 !important;
	font-weight: bold;
	border-left: 3px solid #850024 !important;
	padding-left: 10px;
	/*font-family: 'Roboto', sans-serif !important;*/
}

.selectDownload {
	/* 	width: 100px !important; */
}

.ui-accordion-header {
	background: #eeeeee !important;
	height: 40px;
}

.ui-accordion .ui-icon.ui-icon-triangle-1-e {
	background-image: url('../resources/images/FlechaAzul01.svg');
	width: 20px;
	background-position: 0 0;
	padding: 0px 4px 6px 0px !important;
	-ms-background-position: 0 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
    transform: rotate(180deg);
	top: 30% !important;
 	-ms-transform: translateY(10%) rotate(180deg); /* IE 9 */
}

:focus {
	outline: solid;

  }

.ui-accordion-header span.ui-icon.ui-icon-triangle-1-s {
	background-image: url('../resources/images/FlechaAzul01.svg');
	width: 22px;
	background-position: center top;
	-ms-background-position: center top !important;
	padding: 0px 4px 6px 0px !important;
	top: 60% !important;
	-ms-transform: translateY(-40%);
}

.aniolabel {
	font-family: 'Roboto', sans-serif !important;
	font-size: 9px !important;
	color: #850024;
}

/* Select one menu grande azul */
.selectonemenugrande {
	width: 100% !important;
	float: none !important;
	font-family: 'Roboto', sans-serif !important;
}

.selectonemenugrande .ui-selectonemenu-trigger {
	width: 40px !important;
}

.selectonemenugrande .ui-selectonemenu-trigger .ui-icon {
	bottom: 0px;
	left: 8px !important;
	right: 0px !important;
	-ms-transform: translateX(-5px);
}

.selectonemenugrande .ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-e
	{
	background-image: url('../resources/images/blancaflechadespli01whit.svg');
	background-position: 0 0;
	width: 28px !important;
	height: 8px !important;
	min-width: 28px !important;
	min-height: 8px !important;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;

	-webkit-background-size: 28px 8px !important;
  	-moz-background-size: 28px 8px !important;
  	-o-background-size: 28px 8px !important;

	/* IE fallback support */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../resources/images/Descarga01.svg', sizingMethod='scale');/* To make IE work */
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../resources/images/Descarga01.svg', sizingMethod='scale')"; /* To make IE work */

}

.selectonemenugrande .ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s {
	background-image: url('../resources/images/blancaflechadespli01whit.svg');
	width: 28px !important;
	height: 8px !important;
	background-position: 0 0;
	padding: 0px 0px 0px 0px !important;
	margin: 8px 0px 0px 2px !important;
}

.selectonemenugrande .ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s.ui-c {
	background-image: url('../resources/images/blancaflechadespli01whit.svg');
}

/* Select one menu pequenos anio mes dia */
.aniomesdiaselectone {
	font-family: 'Roboto', sans-serif !important;
	padding-left: 0px !important;
}

.aniomesdiaselectone .ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
	background: white !important;
	width: 20px !important;
	border: 1px solid #d6d6d6 !important;
	border-top: 0px !important;
	border-bottom: 0px !important;
	border-right: 0px !important;
	padding: 0px 4px 2px 0px !important;
}

.aniomesdiaselectone .ui-icon.ui-icon-triangle-1-s.ui-c {
	background-color: white !important;
	width: 14px !important;
	height: 6px !important;
	padding: 1px 1px 1px 1px !important;
	background-position: 0 0;
	-ms-background-position: 0 0;
	background-image: url('../resources/images/FlechaAzul01.svg') !important;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
 	-ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}

/* .aniomesdia .ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all { */
.labelPanels {
	font-family: 'Roboto', sans-serif !important;
	color: #850024;
	padding-top: 4px !important;
	padding-left: 3px !important;
	display: block;
	font-weight: normal;
	text-align: left;
}

.panelaniomesdia {
	font-family: 'Roboto', sans-serif !important;
	font-size: 13px !important;
/* 	width: 100% !important; */
	text-align: right !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

td {
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive {
	width: 100% !important;
}

.panelgridExportar {

}

.panelgridExportar label {
	width: 120px !important;
	padding-left: 24px;
	background-image: url('../resources/images/Descarga01.svg')  !important;
	background-repeat: no-repeat !important;
	background-size: 16px 16px !important;
	background-position: 5% !important;

	-webkit-background-size: 16px 16px !important;
  	-moz-background-size: 16px 16px !important;
  	-o-background-size: 16px 16px !important;

	/* IE fallback support */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../resources/images/Descarga01.svg', sizingMethod='scale');/* To make IE work */
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../resources/images/Descarga01.svg', sizingMethod='scale')"; /* To make IE work */

}

/* #contenedorgeneral .ui-grid-col-1, .ui-grid-col-2, .ui-grid-col-3, .ui-grid-col-4, .ui-grid-col-5, .ui-grid-col-6, .ui-grid-col-7, .ui-grid-col-8, .ui-grid-col-9, .ui-grid-col-10, .ui-grid-col-11, .ui-grid-col-12 { */
/* 	float: none; */
/* } */
.panelizquierdo {
	font-family: 'Roboto', sans-serif !important;
	text-decoration: none;
}

.panelderecho {
	width: 100%;
	float: none;
}

#panelfiltros .ui-panelgrid-cell.ui-grid-col-10 {
	float: none;
}

@media ( min-width :601px) {

	.imagesizepanelvalor {
		width: 22vw;
		height: 16vw;
	}
	.fontpregunta {
		font-size: 0.8vw;
		padding: 4px 3px 2px 6px !important;
		font-family: 'Roboto', sans-serif !important;
		float: left;
	}
	.pregunta01 {
		background-image: url(../resources/images/AyudaN.svg);
		background-repeat: no-repeat;
		height: 24px;
		width: 28px;
		padding: 0 0 0 0 !important;
		margin: 0 0 0 0 !important;
		float: left;
	}
	.bordeblue {
		background-image: url('../resources/images/lineaazul.png') !important;
		min-height: 30px;
		height: 90% !important;
		width: 2px !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
		background-size: 20px 40px !important;
		padding-top: 1px !important;
		padding-bottom: 1px !important;
		top: 0;
		bottom: 0;
	}
	.fonstselected {
		font-weight: bold;
		color: #006fb9;
		font-size: 0.8vw;
		padding: 4px 3px 2px 6px !important;
	}
	.fonstnotselected {
		font-size: 0.8vw;
		font-family: 'Roboto', sans-serif !important;
		padding: 4px 3px 2px 6px !important;
	}
	.chartcustom {
		left:  0px;
		width: 110% !important;
		text-align: left !important;
	}
	.chartcustomdouble {
		left: -40px;
		width: 101% !important;
		text-align: left !important;
	}
	.superzoom {
		width: 65vw;
		max-width: 100%;
	}

	.superzoomStack {
		width: 55vw;
		max-width: 100%;
	}

	.superzoominternal {
		width: 60vw;
		max-width: 100%;
	}
}

@media ( min-width :1201px) {
	.chartcustom {
		left: 0px;
		width: 100% !important;
		text-align: left !important;
	}
}

@media ( max-width :601px) {
	.chartcustom {
		left: 0px;
		width: 120% !important;
		text-align: left !important;
	}
}

/*Interner Explorer*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active),
@supports (-ms-accelerator:true) or (-ms-ime-align:auto) {
    /* All CSS is here */
    table.jqplot-table-legend {
		font-size: 9px !important;
		/*Margen de la legende eo255004*/
		right: 200px !important;
		top: -30px !important;
		width: 30% !important;
	}

	.jqplot-y2axis-label {
		overflow:visible !important;
		color: rgb(0, 111, 185) !important;
	 	top:  -30px !important;
	 	font-weight: bold !important;
	 	font-size: 11px !important;
	 	width: 100px !important;
	 	float: left !important;
	 	/*Margen del t�tulo del eje Y derecho*/
	 	left: -80px !important;
	 	position: relative !important;
	}
}

@media ( max-width :415px) {

	.jqplot-title {
    top: 0;
    left: 0;
    padding-bottom: .5em;
    font-size: .9em !important;;
	}

	.labelpregunta {
		font-size: 11px;
	}

	.imagesizepanelvalormini {
		width: 95vw;
		height: 20vw;
	}
	.imagesizepanelvalor {
		width: 74vw;
		height: 50vw;
	}
	.fontpregunta {
		font-size: 2.5vw;
		padding: 4px 3px 2px 6px !important;
		font-family: 'Roboto', sans-serif !important;
		float: left;
	}
	.pregunta01 {
		background-image: url(../resources/images/GRISPreguntas01.svg);
		background-repeat: no-repeat;
		height: 4vw;
		width: 4vw;
		padding: 0 0 0 0 !important;
		margin: 0 0 0 0 !important;
	}
	.bordeblue {
		background-image: url('../resources/images/lineaazul.png') !important;
		min-height: 30px;
		height: 100% !important;
		width: 2px;
		background-position: center;
		background-repeat: no-repeat !important;
		padding-top: 2%;
	}
	.fonstselected {
		font-weight: bold;
		color: #006fb9;
		font-size: 2.8vw;
		padding: 4px 3px 2px 6px !important;
	}
	.fonstnotselected {
		font-size: 2.8vw;
		font-family: 'Roboto', sans-serif !important;
		padding: 4px 3px 2px 6px !important;
	}
	.chartcustom {
		width: 140% !important;
		left: -40px;
	}

	.ui-panelgrid .ui-panelgrid-cell
	{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.ui-accordion .ui-accordion-content
	{
		padding-left: 0px !important;
		padding-right: 0px !important;

	}



	.jqplot-title {
		color: #003E6C !important;
		top: -25px !important;
		font-weight: bold;
		padding-bottom: 20px;
	}

	.jqplot-yaxis-label {
		color: #850024 !important;
		font-size: 8px !important;
/* 		top: 0px !important; */
/* 		padding-top: 4px; */
/* 		margin-top: 4px; */
/* 		padding-bottom: 6px;   */
/* 		position: absolute; */
		/*left: 0px !important;*/
		font-weight: bold !important;
	}
	.superzoom {
		width: 95vw;
		max-width: 100%;
		margin-top: 20px;
	}
	.superzoominternal {
		width: 80vw;
		max-width: 100%;
		margin-top: 20px;
	}

	table.jqplot-table-legend {
		font-size: 9px !important;
		/*Margen de la legende eo255004*/
		right: 100px !important;
		top: -16px !important;
		width: 30% !important;
	}
}

.tabtittles {
	/*height: 22px !important;*/
	min-height: 45px;
	margin-top: 1% !important;
}

.tabtittles2 {
	min-height: 50px !important;
	margin-top: 1% !important;
}


/* Panel */
.panellinks {
	float: right;
	padding-right: 0px !important;
	width: 70% !important;
}

.panellinks a:link {
	text-decoration: none;
	width: 20px !important;
}

.panellinks a:active {
	text-decoration: none;
}

.panellinks a:hover {
	text-decoration: none;
}

/*********************************************************************************************************************************************/

/* Empty Boxes */
.EmptyBox3 {
	display: block;
	width: 100%;
	height: 3px;
	overflow: hidden;
}

.EmptyBox5 {
	display: block;
	width: 100%;
	height: 5px;
	overflow: hidden;
}

.EmptyBox15 {
	display: block;
	width: 100%;
	height: 15px;
	overflow: hidden;
}

.EmptyBox10 {
	display: block;
	width: 100%;
	height: 10px;
	overflow: hidden;
}

.EmptyBox20 {
	display: block;
	width: 100%;
	height: 20px;
	overflow: hidden;
}

.EmptyBox30 {
	display: block;
	width: 100%;
	height: 30px;
	overflow: hidden;
}

.EmptyBox40 {
	display: block;
	width: 100%;
	height: 40px;
	overflow: hidden;
}

.EmptyBox50 {
	display: block;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

.EmptyBox60 {
	display: block;
	width: 100%;
	height: 60px;
	overflow: hidden;
}

.EmptyBox70 {
	display: block;
	width: 100%;
	height: 70px;
	overflow: hidden;
}

.EmptyBox80 {
	display: block;
	width: 100%;
	height: 80px;
	overflow: hidden;
}

.EmptyBox90 {
	display: block;
	width: 100%;
	height: 90px;
	overflow: hidden;
}

.EmptyBox100 {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.EmptyBox110 {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.EmptyBox120 {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.EmptyBox130 {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.EmptyBox140 {
	display: block;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.EmptyBox150 {
	display: block;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

/****************************************************Colors****************************************************/
/**************************************************************************************************************/

/* text colors */
.White {
	color: #ffffff;
}

.Black {
	color: #000 !important;
}

.WhiteBlue {
	color: #E1F5FE;
}

.SoftBlue {
	color: #03A9F4;
}

.Blue {
	color: #0288D1;
}

.Blue-5 {
	color: #003D6C
}

.Turquoise {
	color: #26C6DA;
}

.SoftGray {
	color: #ECEFF1;
}

.Gray {
	color: #90A4AE;
}

.Gray-1 {
	color: #5D5D5D
}

.BoldGray {
	color: #546E7A;
}

.SoftOrange {
	color: #FFCC80;
}

.Orange {
	color: #FB8C00;
}

.SoftGreen {
	color: #A5D6A7;
}

.Green {
	color: #43A047;
}

.LeadenGreen {
	color: #26A69A;
}

.SoftRed {
	color: #EF9A9A;
}

.Red {
	color: #E53935 !important;
}

.Red-4 {
	color: #850024 !important;
}



.Pink {
	color: #FF4081;
}

.SoftPurple {
	color: #CE93D8;
}

.Purple {
	color: #8E24AA;
}

.Yellow {
	color: #F7D100;
}

/* background colors */
.WhiteBack {
	background-color: #FFF !important;
}

.WhiteBlueBack {
	background-color: #E1F5FE;
}

.SoftBlueBack {
	background-color: #03A9F4;
}

.BlueBack {
	background-color: rgb(0, 111, 185) !important;
}

.TurquoiseBack {
	background-color: #26C6DA;
}

.SoftGrayBack {
	background-color: #f5f5f5;
}

.GrayBack {
	background-color: #90A4AE;
}

.GrayBack-1 {
	background-color: #eceaea !important;
}

.BoldGrayBack {
	background-color: #546E7A;
}

.SoftOrangeBack {
	background-color: #FFCC80;
}

.OrangeBack {
	background-color: #FB8C00;
}

.SoftGreenBack {
	background-color: #A5D6A7;
}

.GreenBack {
	background-color: #43A047;
}

.LeadenGreenBack {
	background-color: #26A69A;
}

.SoftRedBack {
	background-color: #EF9A9A;
}

.RedBack {
	background-color: #E53935;
}

.PinkBack {
	background-color: #FF4081;
}

.SoftPurpleBack {
	background-color: #CE93D8;
}

.PurpleBack {
	background-color: #8E24AA;
}

.YellowBack {
	background-color: #F7D100;
}

/*customs color for page*/
.BlueBack-1 {
	background-color: #006EB8
}

.BlueBack-5 {
	background-color: #003D6C
}

/****************************************************colors****************************************************/
/**************************************************************************************************************/

/****************************************************Aligns****************************************************/
/**************************************************************************************************************/
/* Text Aligns */
.TexAlCenter {
	text-align: center;
}

.TexAlLeft {
	text-align: left;
}

.TexAlRight {
	text-align: right !important;
}
/****************************************************Aligns****************************************************/
/**************************************************************************************************************/
/* Font Sizes */
.Fs9 {
	font-size: 9px !important;
}

.Fs10 {
	font-size: 10px !important;
}

.Fs11 {
	font-size: 11px !important;
}

.Fs12 {
	font-size: 13px !important;
}

.Fs13 {
	font-size: 13px !important;
}

.Fs14 {
	font-size: 14px !important;
}

.Fs15 {
	font-size: 15px !important;
}

.Fs16 {
	font-size: 16px !important;
}

.Fs17 {
	font-size: 17px !important;
}

.Fs18 {
	font-size: 18px !important;
}

.Fs19 {
	font-size: 19px !important;
}

.Fs20 {
	font-size: 20px !important;
}

.Fs21 {
	font-size: 21px !important;
}

.Fs22 {
	font-size: 22px !important;
}

.Fs23 {
	font-size: 23px !important;
}

.Fs24 {
	font-size: 24px !important;
}

.Fs25 {
	font-size: 25px !important;
}

.Fs26 {
	font-size: 26px !important;
}

.Fs27 {
	font-size: 27px !important;
}

.Fs28 {
	font-size: 28px !important;
}

.Fs29 {
	font-size: 29px !important;
}

.Fs30 {
	font-size: 30px !important;
}

.Fs40 {
	font-size: 40px !important;
}

.Fs50 {
	font-size: 50px !important;
}

.Fs60 {
	font-size: 60px !important;
}

.Fs100 {
	font-size: 100px !important;
}

.Fs130 {
	font-size: 130px !important;
}

/* Font Type */
.FontBold {
	font-weight: bold;
}

.FontLight {
	font-weight: lighter;
}

.FontNormal {
	font-weight: normal;
}
/****************************************************Widths****************************************************/
/**************************************************************************************************************/

/* Width */
.Wid100 {
	width: 100% !important;
}

.Wid95 {
	width: 95% !important;
}

.Wid90 {
	width: 90% !important;
}

.Wid80 {
	width: 80% !important;
}

.Wid70 {
	width: 70% !important;
}

.Wid60 {
	width: 60% !important;
}

.Wid50 {
	width: 50% !important;
}

.Wid45 {
	width: 45% !important;
}

.Wid40 {
	width: 40% !important;
}

.Wid30 {
	width: 30% !important;
}

/* Width Special Values */
.Wid33 {
	width: 33.3% !important;
}

.Wid25 {
	width: 25% !important;
}

.Wid20 {
	width: 20% !important;
}

.Wid10 {
	width: 10% !important;
}

.Wid5 {
	width: 5% !important;
}

/****************************************************Widths****************************************************/
/**************************************************************************************************************/

/****************************************************Box Size****************************************************/
/**************************************************************************************************************/
.BoxSizeBorder {
	box-sizing: border-box;
}

.BoxSizeBorderCH {
	box-sizing: border-box;
	padding-right: 2% !important;
	padding-right: 2% !important;
	/*text-align: center !important*/
}

.BoxSizeBorderHelp {
	padding-left: 24px;
	padding-right: 6px;
	text-justify: inter-word;
	text-align: justify !important;
}

.imagehelpmini {
	box-sizing: border-box;
	text-align: center !important;
	max-width: 100% !important;
	width: 100% !important;
}

.BoxSizeContent {
	box-sizing: content-box;
}

.dialogHelp {
	width:95% !important;
	top:2% !important;
	left: 2% !important;
	padding-bottom: 2% !important;
	height: 120% !important;
}

/****************************************************Box Size****************************************************/
/**************************************************************************************************************/
/****************************************************Media quearys***********************************************/
/**************************************************************************************************************/
@media Query (max-width: 740px) {
	.NoPaddingResponsive {
		padding: 0 !important;
	}
	.ui-accordion .ui-accordion-content {
		padding: 0 !important;
		margin: 0;
	}

	.ui-panelgrid .ui-panelgrid-cell {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

}
/****************************************************Media quearys***********************************************/
/**************************************************************************************************************/
/****************************************************Icons***********************************************/
/**************************************************************************************************************/

/* plot https://forum.primefaces.org/viewtopic.php?t=8909 */
/* icon */
.position-icon-right .ui-button-text {
	padding: .8em 0.8em .8em .3em !important;
	background: white;
	color: black;
}

.position-icon-right .ui-button-icon-left {
	right: 0.5em;
	left: auto;
}
/****************************************************Icons***********************************************/
/**************************************************************************************************************/

/****************************************************Margins***********************************************/
/**************************************************************************************************************/
.NoMarginTopBotton {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}


.NoMargin {
	margin: 0px !important;
}

.MarTop5em {
	margin-Top: .5em;
}

.MarTop10em {
	margin-Top: 1em;
}

.MarTop10 {
	margin-Top: 10px;
}

.MarTop20 {
	margin-Top: 20px;
}

.MarTop30 {
	margin-bot: 30px;
}

.MarBot10 {
	margin-bottom: 10px;
}

.MarBot20 {
	margin-bottom: 20px;
}

.MarBot30 {
	margin-bottom: 20px;
}

.MarRight10 {
	margin-right: 10px;
}

.MarRight20 {
	margin-right: 20px;
}

.MarRigh30 {
	margin-right: 30px;
}

.MarginLeft5 {
	margin-left: 5px;
}

.MarginLeft10 {
	margin-left: 10px;
}

.MarginLeft15 {
	margin-left: 15px;
}

.MarginLeft20 {
	margin-left: 20px;
}

.MarginRight5 {
	margin-right: 5px;
}

.MarginRight10 {
	margin-right: 10px;
}

.MarginRight10per {
	margin-right: 10%;
}

.MarAuto{ margin-left:auto; margin-right:auto;}

.MarAutoLeft{ margin-left:auto !important;}
.MarAutoRight{ margin-right:auto !important;}

/* Display */
.DispBlock {
	display: block;
}

.DispTable {
	display: table;
	vertical-align: middle;
}

.DispTableCell {
	display: table-cell;
	vertical-align: middle;
}

.DispNone {
	display: none;
}

.DispInlBlock {
	display: inline-block;
}

.DispInherit {
	display: inherit;
}

/* Position */
.PosFixed {
	position: fixed;
}

.PosAbsolute {
	position: absolute;
}

.PosRelative {
	position: relative;
}

.PosStatic {
	position: static;
}

/*borders*/
.border-left-c {
	border-left: 2px solid #850024 !important;
}

.border-left-gray {
	border-left: 2px solid #d6d6d6 !important;
}

.border-Right-c {
	border-right: 3px solid #546E7A !important;
	padding-right: 5px;
	height: 100% !important;

	text-align: right !important;
	vertical-align: middle;
}

.border-Bottom-cR {
	border-bottom: 4px solid #850024 !important;
	padding-bottom: 5px;
}

.border-Bottom-gray {
	border-bottom: 4px solid gray !important;
	padding-bottom: 5px;
}

.border-Bottom-1 {
	border-bottom: 2px solid #850024 !important;
}

.border-gray-1 {
	border: 1px solid #E2E0E0 !important;
}

/*radus*/
.NoBorder-radius-Left {
	border-radius: 0px 4px 4px 0px;
}

.NoBorder-radius-Right {
	border-radius: 4px 0px 0px 4px;
}

/* Paddings */
.NoPaddingTopBotton{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.NoPadding {
	padding: 0px !important;
}

.NoPaddingTop {
	padding-top: 0px !important;
}

.NoPaddingBottom {
	padding-bottom: 0px !important;
}
.NoPaddingRight {
	padding-right: 0px !important;
}

.NoPaddingLeft {
	padding-left: 0px !important;
}

.PaddingTopPercent10 {
	padding-top: 10%;
}

.Padding5 {
	padding: 5px;
}

.Padding4 {
	padding: 4px !important;
}

.Padding10 {
	padding: 10px;
}

.PaddingTop5 {
	padding-top: 5px !important;
}

.PaddingTop10 {
	padding-top: 10px !important;
}

.PaddingLeft5 {
	padding-left: 5px !important;
}

.PaddingLeft3 {
	padding-left: 3px !important;
}

.PaddingLeft10 {
	padding-left: 10px !important;
}

.PaddingRight5 {
	padding-right: 5px;
}

.PaddingRight10 {
	padding-right: 10px;
}

.PaddingBottom5 {
	padding-Bottom: 5px;
}

.PaddingBottom10 {
	padding-Bottom: 10px;
}

.PaddingLeft5em {
	padding-left: .5em !important;
}

.PaddingRight5em {
	padding-right: .5em !important;
}

.PaddingTop5em {
	padding-top: .5em !important;
}

.PaddingTop10em {
	padding-top: 1em !important;
}

.PaddingBottom5em {
	padding-bottom: .5em !important;
}

/* flex helpers*/
.VerticalCenter {
	align-items: center;
}

.FjustifyRight {
	justify-content: flex-end;
}

.FDirectionColumn
{
	flex-direction: column;
	justify-content: center;
}


/****************************************************disply /hidde on mobile************************************/
/**************************************************************************************************************/
.DisplayOnMobile {
	display: none !important;
}

.DisplayOnDesk {

}

@media ( max-width : 1024px) {
	.DisplayOnMobile {
		display: block !important;
	}
	.DisplayOnDesk {
		display: none !important;
	}

	.TextTitle
	{
		letter-spacing: -0.5px;
   		font-size: 19px !important;
	}

	.TextToAlRight
	{
		text-align: right;
	}

	.TextToLeft
	{
		text-align: left;
	}
}
/*end mediaquery*/

/**/
.CustomTabs .ui-tabs-panel {
	padding: 0px 10px !important;
}

.minWidth-0 {
	min-width: 0 !important;
}

/* Padding With Transparent Border*/
.PadWithBorder1 {
	border: solid 1px transparent;
}

.PadWithBorder2 {
	border: solid 2px transparent;
}

.PadWithBorder3 {
	border: solid 3px transparent;
}

.PadWithBorder4 {
	border: solid 4px transparent;
}

.PadWithBorder5 {
	border: solid 5px transparent;
}

.PadWithBorder10 {
	border: solid 10px transparent;
}

.PadWithBorder20 {
	border: solid 20px transparent;
}

.PadWithBorder40 {
	border: solid 40px transparent;
}

.firstmessage {
	border-left: solid 40px transparent;
	border-right: solid 40px transparent;
	border-top: solid 40px transparent;
	border-bottom: solid 10px transparent;
}

.lastmessage {
	border-left: solid 40px transparent;
	border-right: solid 40px transparent;
	border-top: solid 10px transparent;
	border-bottom: solid 20px transparent;
}


/*border vertical*/
.Border-Vertical-1:AFTER {
	content: '';
	position: absolute;
	border-right: 1px solid gray;
	width: 100%;
	transform: translateX(-50%);
	height: 100%;
	padding: 0px;
}

/* Position */
.PosFixed {
	position: fixed;
}

.PosAbsolute {
	position: absolute;
}

.PosRelative {
	position: relative;
}

.PosStatic {
	position: static;
}

/* Text Aligns */
.TexAlCenter{ text-align:center;}
.TexAlLeft{ text-align:left;}
.TexAlRight{ text-align:right !important;}

/*Customizing prime toolbar*/

.ui-carousel-header {
    visibility: hidden;
    height: 0px !important;
    padding:  0 0 0 0 !important;
}

.ui-carousel {
	border: 0em !important;
	width: 100%;
}

.ui-carousel-item {
	/* width: 260px !important; */
}

/* .ui-carousel-viewport {
	margin-left: 205px;
	margin-right: 205px;
	text-align: center;
	display: block;
} */

#containerCarrousel_content {
	border: none !important;"
}

.floatClear {
  clear: both;
}

.icon-carrousel-izquierda {
	margin-left: 100px;
	background-image: url(../resources/images/Derecha-Mobile.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.icon-carrousel-derecha {
	margin-left: 100px;
	background-image: url(../resources/images/Derecha-Mobile.png);
	background-repeat: no-repeat;
	background-size: contain;
}

/* titulo footer */
#wrapper {
  text-align: center;
  position: relative;
  color: #006fb9;
  font-family: 'Roboto', sans-serif !important;
}
#wrapper .line {
  border-bottom: 2px solid #006fb9;
  position: absolute;
  width: 100%;
  top: 15px;
}
#wrapper .textbox {
  position: absolute;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
}
#wrapper .textbox .text {
  background-color: white;
  margin: 0px auto;
  padding: 0px 10px;
  text-align: center;
  display: inline;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif !important;
}

.containerselectslider {
	background: #fff; 
	text-align: right;
	color: #222;
	padding-right: 0em;
}

.selectonslider {
	font-family: 'Roboto', sans-serif !important;
	font-weight: normal;
	font-size: 13px !important;
	width: 80% !important;
	float: left;
	height: 24px !important;
	border: 1px solid #d6d6d6;
	color: #555;
	border-radius: 3px;
	background-image: none !important;
	background: url('../resources/images/selectblue2.png') no-repeat !important;
	background-size: 20px 20px !important;
	background-position: right !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 3px !important;
}

.selectFechasLabel {
	display: block;
	position: absolute;
	background: white;
	margin: 2px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: normal !important;
	font-size: 13px !important;
}

.selectonslider option {
	background-color:#FFE !important
}

.selectonslider option:hover {
	background-color: rgb(0, 111, 185) !important;
}

article {
	color: #535353 !important;
	font-weight: 500;
	text-decoration: none !important;
}

/** pies */
.custompielegendparent {
	color: #850024;
  	font-weight: bold;
}

.custompielegen{
	text-align: left;
	float: left;
}

.custompielegen div{
	display: flex;
  	width: 300px;
}

.custompielegen div:after {
  border-bottom: 1px solid #850024;
  content: '';
  flex: 1;
}

.NoWrap {
	white-space: nowrap;
}

.FloatRigth {
	float: right;
}


.jqplot-pie-series.jqplot-data-label {
	color: black !important;
}

coloresseries{	​
	color: #4bb2c5;
	​​​color: #EAA228;
	color: ​​​#c5b47f;
	color: ​​​#579575;
	color: ​​​#839557;
	color: ​​​#958c12;
	color: ​​​#953579;
	color: ​​​#4b5de4;
	color: ​​​#d8b83f;
	color: ​​​#ff5800;
	color: ​​​#0085cc;
	color: ​​​#c747a3;
	color: ​​​#cddf54;
	color: ​​​#FBD178;
	color: ​​​#26B4E3;
	color: ​​​#bd70c7;
}
/*
	#d6ecfb
	#eae3c7
	#f9d4de

	#f6cdf4
	#f9f2d4
	#0097ac
*/
/*
	NUEVO HOME INDICO 7bb9e0 #003e6c
*/

#chartzoomsliderrotacion{
	margin-top:2%;
}
.active, .btn:hover {
  background-color: #7bb9e0;
  color: white;
}

.barIcoHeight{
	height: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#columnCon, #conGen {
	margin-left: 4vw !important;
	margin-right: 4vw !important;
}

.nav {
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2% !important;
  background: #eee;
  transform: translateZ(0);
  opacity: 0.9;
}
.nav:hover .link {
  width: 100%;
  background: #eee;
}
.nav .link {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  color: #aaa;
  border-right: 1px solid #ddd;
  transition: .5s width;
  overflow: hidden;
  cursor: pointer;
}

.nav .link2 {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  color: #aaa;
  border-right: 1px solid #ddd;
  transition: .5s width;
  overflow: hidden;
  cursor: pointer;
}

.nav .link:last-child {
  border-right: 0;
}

.nav .link:hover .small {
  width: 0%;
  display: none;
  color: #555;
}

.nav .link:hover .full {
  width: 100%;
  color: #555;
  background-color: #7bb9e0;
  display: block;
  text-transform: uppercase;
}

.nav .link .small {
  margin: auto;
  width: 100%;
  line-height: 78px;
  text-align: center;
  font-family: fontawesome;
  font-size: 24px;
}

.full {
  display: none;
}

.fulldisplay {
  text-transform: uppercase;
  display: block;
}

.nav .link .full .f1, .nav .link .full .f2 {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.nav .link .full .f2 {
  margin-top: 8px;
  font-size: 12px;
}
.nav .link .prev {
  position: absolute;
  top: 25%;
  left: 7px;
  font-family: fontawesome;
  font-size: 12px;
  line-height: 78px;
  transition: .5s opacity;
  opacity: 0;
}
.nav .link:hover .prev {
  opacity: 0;
}
.nav:hover .prev {
  opacity: 1;
}

.fa-lg {
	color: #00000;
    font-size: 4em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.imgCud{
	width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
	vertical-align: middle;
}

.imgCheques{
	width: 46%;
	vertical-align: middle;
}

.imgBajo{
	width: 44.4%;
	vertical-align: middle;
}

.imgGuia{
	width: 45.5%;
	vertical-align: middle;
}

.cardCustonT2 {
	width: 100%;
	height: auto;
	border: 1px solid #eeeeee !important;
	display: block;
}

.imagecarousel2 {
	vertical-align: bottom;
	width: 31%;
	text-align: center;
	margin-right: auto;
	display: inline;
	padding: 0px;
	padding-top: 1%;
}

.mobileBar{
	display: none;
}

.fullDisplay2{
	display: block !important;
}

.fullHide{
	display: none !important;
}

.cleanerHome {
	display: none;
	position: absolute;
	top: 25%;
	width: 90%;
	height: auto;
	margin-top: -40px;
	background: #eee;
	transform: translateZ(0);
	/*width: 96% !important;
	padding: 0px 0px 0px 0px !important;
	padding-left: 0px !important;
	float: none !important;
	margin-top: 16%;
    margin-left: 2vw !important;
    margin-right: 5vw !important;*/
}

.columnGuiaCon{
	background-color: white;
    opacity: 0.9;
    margin-left: 5vw !important;
    margin-right: 5vw !important;
}

.columnconInd{
    margin-left: 5vw !important;
    margin-right: 5vw !important;
}

/* RESPONSIVE DESIGN*/

@media screen and (max-width: 1200px) {
	.textbelow-tittleBV {
		font-size: 12px !important;
		text-transform: uppercase ;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
	}

	.importantxtBV {
		font-size: 13px !important;
		font-weight: bold !important;
		font-family: 'Roboto', sans-serif !important;
	}
}

@media screen and (max-width: 892px) {
	.textbelow-tittle {
		font-size: 11px !important;
		text-transform: uppercase ;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
		margin-bottom: 5px !important;
		margin-top: 5px !important; 
	}

	.importantxt {
		font-size: 13px !important;
		font-weight: bold !important;
		font-family: 'Roboto', sans-serif !important;
	}

	.textbelow-tittleBV {
		font-size: 9px !important;
		text-transform: uppercase ;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
	}

	.importantxtBV {
		font-size: 10px !important;
		font-weight: bold !important;
		font-family: 'Roboto', sans-serif !important;
	}
}

@media screen and (max-width: 767px) {

	.widthMobile {
		width: 102%;
	}

	.cleaner2 {
	width: 99% !important;
	padding: 0px 0px 0px 0px !important;
	padding-left: 0px !important;
	margin: 0px 0px 0px 0px !important;
	float: none !important;
	}

	.nav {
	  margin-top: 2%;
  	  margin-bottom: 2% !important;
	  width: 92%;
	  height: auto;
	  background: #eee;
	  transform: translateZ(0);
	}

	.nav .link .small {
		display: none;
	}

	.nav .link .full {
	  display: none !important;
	}

	.imagecarousel2 {
		vertical-align: bottom;
		width: 100%;
		text-align: center;
		margin-right: auto;
		display: block;
		padding: 0px;
		padding-top: 1%;
	}

	.mobileBar{
		display: block;
	}

	.textbelow {
		color: #535353;
		position: relative;
		vertical-align: middle;
		text-align: center;
	 	padding-left: 10px;
	 	padding-right: 10px;
	 	border-top: none;
		border-bottom: 3px solid #006fb9;
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 12px;
		justify-content: center;
	    align-items: center;
	}

	.imgGuia{
		width: 13.5%;
		vertical-align: middle;
	}

	.columnGuiaCon{
		width: 92%;
		background-color: white;
	    opacity: 0.9;
	    margin-left: 4vw !important;
	    margin-right: 4vw !important;
	}

	.columnconInd{
		width: 100%;
	    margin-left: 0 !important;
	    margin-right: 0 !important;
	    overflow-x: hidden !important;
	}

	.textbelow-tittle {
		font-size: 13px !important;
		text-transform: uppercase ;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
		margin-bottom: 5px !important;
		margin-top: 5px !important; 
	}

	.importantxt {
		font-size: 14px !important;
		font-weight: bold !important;
		font-family: 'Roboto', sans-serif !important;
	}

	.fontTabTittle2 {
		font-size: 12px !important;
		margin-left: 0px;
		padding-top: 5px;
		color: #006fb9 !important;
		border-left: 0px solid #850024 !important;
		font-weight: bold;
		padding-left: 0px;
	}

	.textbelow-tittle2 {
		font-size: 9px !important;
		text-transform: uppercase ;
		font-family: 'Roboto', sans-serif !important;
		text-align: center;
	}

	.importantxt2 {
		font-size: 10px !important;
		font-weight: bold !important;
		font-family: 'Roboto', sans-serif !important;
	}
}

#titulo4{
	font-size: 14PX;
    text-transform: uppercase;
    color: black;
	padding: 10px;

}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	outline: 2px solid black !important;
}

select:hover {
	outline: 2px solid black !important;
}

ui-accordion-header.ui-helper-reset.ui-state-default.tabtittles2.ui-corner-all div:hover{
	outline: 2px solid black !important;
}

.ui-tabs-outline {
	outline: 2px solid black !important;
}
