body { 
  font-family: 'Roboto', sans-serif !important;  
  overflow-x: hidden;
  overflow-y: scroll;
}

/**BREADCUMB**/
.bcumb{
	padding-top: 10px !important;
	padding-bottom: 5px !important;
	background-color: white !important; 
	font-size: 1vw;	
	padding-left: 2.5vw !important;
}

a {
	color: #535353 !important;
	font-weight: 500;
}

a:hover {
    color: #6B6B6B !important;
}

a:active {
    color: #6B6B6B !important;
}

/**CONTAINER**/

.container-fluid{
	margin-left: 5.5vw !important;
	margin-right: 10vw !important;
}

.jumbotron{
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 4.7vw;	
	padding-bottom: 0px !important;
	margin-bottom: 33px !important;
}

#column{
	background-color: #eeeeee;
	padding-left: 0px;	
	padding-right: 78px;
}

.firstCol{
	background-color: white;
	padding-bottom: 34px;	
	margin-right: 0.5vw;
}


.firstCol > h2{
	font-weight: 500;
	font-size: 2.8vw;
	margin-top: 0px;
	margin-bottom: 0px;
	color:#006fb9;
}

.firstCol > h3{
	font-weight: 700;
	margin-top: -6px;
	font-size: 1.4vw;
	color: #535353;
	font-variant: small-caps;
}

/**GIF**/

#image{
	margin-left: 10px; 
	display: block; 
	width: 45vw;
	height: 26.4vw;
}

/**NOTICIAS**/

.noticias{
	padding-left: 3.3vw;
}

#noticias-last{
	padding-left: 3.3vw;
	padding-bottom:0px;
}

.dates{
	font-weight: 100;
	font-style: italic;
	font-size: 0.75vw;
	color: #006fb9;
	font-variant: small-caps;
	margin-bottom: 1px !important;
}

.separator{
	border-top: 1px solid #006fb9;
	margin-top: 1px;
	margin-bottom: 1px;
}


.titles{
	font-weight: 700 !important;
	font-size: 0.8vw;
	color: #535353;
	margin-bottom: 1px !important;
}

.card{
	background-color: #006fb9 !important;
	border-bottom: 6px solid #003E6C !important;
	color: white !important;
	border-radius: 0px !important;
}

.panel-group{
	margin-bottom: 0px !important;
}

.panel-body{
	padding: 0px !important;
}

.content{
	font-size: 1.3vw;
	font-weight: 600 !important;
	display:block !important;
 	line-height: 1 !important;
	padding-left: 15px !important;
	padding-right: 60px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

/**RECTANGULO**/
#rectangle{
	background-color: white;
	margin-top: -2px;
	height:90px;
  	width: 88%;
  	padding-bottom: 0px;
	
}

/**MAS INDICADORES**/
.subtitle{
	margin-left: -0.63vw;
	margin-right: -5px;
}

.oneline{
	border-top: 2px solid #006fb9;
	margin-top: 1px;
	margin-bottom: 1px;
}

#bottomtext{
	color:#006fb9;
	font-weight: 800 !important;
	font-size: 1.56vw !important;
	margin-top: 0px;
  	text-align: center;
}

#lineleft{
	padding-left: 0px;
	padding-right: 0.63vw; 
	padding-top: 0.75vw;
}

#lineright{
	padding-left: 0.63vw;
	padding-right: 0px; 
	padding-top: 0.75vw;
}

#linecenter{
	padding-left: 0px;
	padding-right: 0px;
}

/**CAROUSEL**/

#indicadores{
	padding-top: 2.19vw !important;
	width: 105% !important;
}

#indicadores .carousel-inner{
	padding-left: 6vw !important;
}

/*MOBILE*/
.mobileCarousel .carousel-control{
	height: 70px !important;
	width: 50px !important;
	position: absolute !important;
	opacity: .9 !important;
	margin-top: 62px !important;
}

.litCarousel .carousel-control{
	height: 16.91vw !important;
	width: 12.08vw !important;
	position: absolute !important;
	opacity: .9 !important;
	margin-top: 14.98vw !important;	
}

#indicadores .carousel-control{
	height: 3.75vw !important;
	width: 3.75vw !important;
	position: absolute !important;
	opacity: .9 !important;
	margin-top: 3.88vw !important;	
}

/*MOBILE*/
.mobileCarousel .carousel-control.left{
    margin-left: 100px;
    background-image: url(../resources/images/Derecha-Mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.litCarousel .carousel-control.left{
    margin-left: 6.25vw;
}

.mobileCarousel .carousel-control.left:hover{
	background-image: url(../resources/images/IzquierdaAzul01.svg);
	background-repeat: no-repeat;
    background-size: contain;
}

#indicadores .carousel-control.left{
	left: 0;
    margin-left: 0;
    background-image: url(../resources/images/Izquierda01.svg);
}

/*MOBILE*/
.mobileCarousel .carousel-control.right{
    margin-right: 100px;
    background-image: url(../resources/images/IzquierdaMobile.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.litCarousel .carousel-control.right{
    margin-right: 6.25vw;
}
.mobileCarousel .carousel-control.right:hover{
	background-image: url(../resources/images/DerechaAzul01.svg);
	background-repeat: no-repeat;
    background-size: contain;
}

#indicadores .carousel-control.right{
 	right: 0px;
    margin-right: 0;
    background-image: url(../resources/images/Derecha01.svg);
}

#indicadores .carousel-control.left:hover{
	background-image: url(../resources/images/IzquierdaAzul01.svg);
	background-repeat: no-repeat;
    background-size: contain;
}

#indicadores .carousel-control.right:hover{
	background-image: url(../resources/images/DerechaAzul01.svg);
	background-repeat: no-repeat;
    background-size: contain;
}

.preCuadros{
	margin-left: -0.31vw;
	margin-right: -1.13vw;
}

.cuadros{
	height: 13.8vw !important;
	width: 17.3vw !important;
	border: 1px solid #eeeeee;	
}

.imagecarousel{
	vertical-align: bottom;
	width: 40%;
	margin-bottom: -5.8vw;
	margin-left: 5vw;
    margin-right: auto;
    display: inline;
    padding: 0px;
}

.linebelow{
	border-top: 3px solid #006fb9;
	margin-top: 6.5vw;
	width: 80%;
	margin-bottom: 0px;
}

.textbelow{
	color: #535353;
	font-variant: small-caps;
	font-weight: 500;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding-left: 2vw;
	padding-right: 2vw;
}

.textbelow > h3{
	margin-top: 0.2vw;
	font-size: 1.3vw;
	line-height: 100%;
}

.importantxt{
   font-weight: 700 !important;
}

.btnCarousel{
	height: 60px;
	width: 60px;
	opacity: 0;
}

/**CAROUSEL 2**/

#lastRow{
	margin-left: -110px;
	margin-right: -42px;
	margin-top: -7.5vw;
}

#preFooter{
	padding-top: 2vw;
	width: 110%;
	position: relative;
	vertical-align: middle;
	left: 0px;
}

#preFooter .carousel-inner{
	padding-left: -0.63vw;
}

#preFooter .carousel-control{
	opacity: 0;
}

#preFooter .carousel-indicators{
	bottom: -6vw;
	padding-bottom: 2vw;
}

#preFooter .carousel-indicators li{
	background-color: rgb(0,111,185, 0.3);
	border-radius: 1%;
	width: 1.39vw;
	height: 1.39vw;
	vertical-align: middle;
	margin: 0.28vw;
}

#preFooter .carousel-indicators .active{
	background-color: rgb(0,111,185);
	width: 1.88vw;
	height: 1.88vw;
	
}

.prefooterimg {
	height: 25.69vw !important;
}

/**MOBILE**/
.mobilebody{
	width: 100%;
    overflow-x: hidden;
	overflow-y: scroll;
}

.mobilecontainer{
	margin-left: 0px !important;
	padding-left: 1px !important;
	margin-right: 0px !important;
	padding-right: 1px !important;
	width: 100%;
}

.mobilecol{
	background-color: #eeeeee;
	padding-top: 27px !important;	
	padding-left: 40px !important;
	margin-right: 0px;
}

.mobilecol > h2{
	font-size:8vw;
}

.mobilecol > h3{
	font-weight: 700;
	margin-top: -3px;
	font-size: 4vw;
}

#mobileimgcontainer{
	padding-top: 0px;
	margin-top: -35px;
	background-color: #eeeeee;
}

#mobileImg{
	width:110%;
	margin-left: 1vw;
	margin-right: 2vw;
}

.mobilenot{
	padding-left: 50px;
}

.mobileSubtitle{
    display: flex;
    justify-content: space-between; 
}

.mobileline{
   border: 1px solid #006fb9;
   width: 90%;
   margin-top: 8px;
}

#mobileLeft{
	margin-left: -1px;
}

#mobileRight{
	margin-right: -1px;
}

#mobileCenter{
	line-height:  1.5em;
	margin-top: -33px;
	padding: 0px;
	margin-right: -10px;
	margin-left: -10px;
}

#mobileText{
	color:#006fb9;
	font-weight: 500 !important;
	font-size: 25px !important;
  	text-align: left;
}

.carMobile{
	margin-top: 0.25vw;
	margin-bottom: 9.42vw;
	margin-left: 0px !important;
	margin-right: 0px !important;
}


/**HAY QUE CAMBIAR ESTO**/
.mobileCuadro{
	width: 254px;
	height: 210px;
	border: 3px solid #eeeeee;	
	margin:auto;
}

.imagecarouselMob{
	vertical-align: bottom;
	width: 40%;
	margin-bottom: -90px;
	margin-left: 69px;
    margin-right: auto;
    display: inline;
    padding: 0px;
}

.linebelowMob{
	border-top: 3px solid #006fb9;
	margin-top: 100px;
	width: 80%;
	margin-bottom: 0px;
}

.textbelowMob{
	color: #535353;
	font-variant: small-caps;
	font-weight: 500;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.textbelowMob > h3{
	margin-top: 2px;
	font-size: 20px;
	line-height: 100%;
}

.buttonMobile{
	background: transparent;
    border: none !important;
    height: 15.94vw !important;
	width: 11.59vw !important;
    opacity:0;
}

/*LITTLE CELLPHONES*/

.littleSubtitle{
    display: flex;
    justify-content: space-between; 
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.littleline{
   border: 1px solid #006fb9;
   width: 12vw;
   margin-top: 8px;
}

#littleLeft{
	margin-left: -2.9vw;
}

#littleRight{
	margin-right: -2.9vw;
}

#littleCenter{
	line-height:  1.5em;
	margin-top: -7.97vw;
	padding: 0px;
	margin-right: -2.3vw;
	margin-left: -2.3vw;
}

#littleText{
	color:#006fb9;
	font-weight: 500 !important;
	font-size: 6.6vw !important;
  	text-align: center;
}


.litCuadro{
	width: 61.35vw;
	height: 50.72vw;
	border: 3px solid #eeeeee;	
	margin:auto;
}

.imagecarouselLit{
	vertical-align: bottom;
	width: 40%;
	margin-bottom: -21.74vw;
	margin-left: 16.67vw;
    margin-right: auto;
    display: inline;
    padding: 0px;
}

.linebelowLit{
	border-top: 3px solid #006fb9;
	margin-top: 24.15vw;
	width: 80%;
	margin-bottom: 0px;
}

.textbelowLit{
	color: #535353;
	font-variant: small-caps;
	font-weight: 500;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding-left: 7.25vw;
	padding-right: 7.25vw;
}

.textbelowLit > h3{
	margin-top: 0.48vw;
	font-size: 4.83vw;
	line-height: 100%;
}

.ui-widget-content .ui-state-highlight {
	background-color: #006fb9;
}

.ui-corner-right{
	background-color: #006fb9 !important;
}

.ui-button {
	background-color: #006fb9 !important;
}

.ui-icon.ui-icon-triangle-1-s.ui-c {
	color: #fff !important;
}	

.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header > tr.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content > td.ui-panelgrid-cell, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer > tr.ui-widget-footer {
	vertical-align: top !important;
}

/*.ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-content.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-header > tr.ui-widget-header, .ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content, .ui-panelgrid.ui-panelgrid-blank tbody > tr.ui-widget-content > td.ui-panelgrid-cell, .ui-panelgrid.ui-panelgrid-blank .ui-panelgrid-footer > tr.ui-widget-footer {
	width: 100%;
}*/

.ui-selectonemenu{
     width: 100% !important;
}
.ui-selectonemenu-label{
     width: 100% !important;
}  

.ui-selectonemenu {
	width: 100% !important;
}
 	
.ui-selectonemenu-label {
 	width: 100% !important;
}

.ui-selectonemenu-panel {
	padding: 2px 2px;
	white-space: wrap;
}
 	
.ui-selectonemenu-list-item {
	padding: 2px 2px;
 	white-space: wrap;
}

ui-selectonemenu-filter-container{
	width: 100%!important;
}

.ui-selectonemenu-trigger .ui-icon-triangle-1-s, .ui-selectcheckboxmenu-trigger {
	background-color: #006fb9;
	color: white;
}

.toolbar-custom {
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	right: right;
	width: 90% !important;
	height: 18px; 
	border-color:  !important; 
}

.buttons-background {
	background-color: #003E6C !important;
	color: white !important;
	background: #003E6C !important;
	width: 100% !important;
	border-color: #003E6C !important;
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px;
	font-family: fantasy;
	height: 16px; 
}
	
/*
ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only
*/
.jqplot-title{
        color: #003E6C !important;
}

.jqplot-yaxis-label { 
    color: #5e2129 !important; 
}

.jqplot-yaxis-tick {
    color: #5e2129 !important; 
}

.jqplot-yaxis2-label{
	color: #003E6C !important;
}

.jqplot-yaxis2-tick {
    color: #003E6C !important; 
}


.jqplot-xaxis-tick { 
	color: black !important; 
}

.jqplot-highlighter-tooltip {
	background: #d0a126!important;
	color: #522525;
}

table.jqplot-table-legend {
	font-size: 16px !important;
}

.cleaner2 {
	width: 100% !important; 
	padding:0px 0px 0px 0px !important; 
	margin: 0px 0px 0px 0px !important;
}

/* div.jqplot-table-legend-swatch { */
/* 	color:#5e2129; */
/* } */

.ui-panelgrid .ui-panelgrid-cell{
	padding: 2px 10px !important;
}

.ui-panel .ui-panel-content {
	padding: 0px 2px 0px 2px !important;
}

td.uipanelgrid-cell {
	padding: 0px 2px 0px 2px !important;
}

.ui-messages-error {
	background: #5e2129 !important;
	color: white;
}

.returnBack {
	background-image: url(../resources/images/AZULatras.svg);
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;	
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}

.pregunta01 {
	background-image: url(../resources/images/GRISPreguntas01.svg);
	background-repeat: no-repeat;
	height: 24px;
	width: 28px;	
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}

.ui-breadcrumb {
	background: none !important;
    border: none !important;
}

.ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-e {
    background-image: url('../resources/images/blancaflechadespli01whit.svg');
    background-position: 0 0;
    width: 28px;
    padding: 4px 0px 0px 0px !important ; 
}

.ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s {
    background-image: url('../resources/images/blancaflechadespli01whit.svg');
    width: 24px;
    background-position: 0 0; 
    padding: 4px 0px 0px 0px !important ; 
}

.ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s {
    background-image: url('../resources/images/blancaflechadespli01whit.svg');
    width: 24px;
    background-position: 0 0; 
    padding: 4px 0px 0px 0px !important ; 
}

.ui-selectonemenu-trigger .ui-icon.ui-icon-triangle-1-s.ui-c {
    background-image: url('../resources/images/blancaflechadespli01whit.svg');
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    padding: 4px 0px 0px 0px !important ; 
}

.icon-restaurar {
    background-image: url('../resources/images/Restaurar01WHITE.svg') !important;
    font-size: 16px !important;
}

.icon-next {
    background-image: url('../resources/images/DerechaAzul01.svg') !important;
    height: 16px;
}

.icon-before {
    background-image: url('../resources/images/IzquierdaAzul01.svg') !important;
    height: 16px;
}

.icon-download {
    background-image: url('../resources/images/Descarga01.svg') !important;
    height: 24px;
    padding: 0px 0px 0px 0px !important;
    float: right !important;
    position: absolute !important;
    margin-top: 4px !important;
}

.ui-chart {
   margin-bottom: 50px;
}

.icon-azul {
    background-image: url('../resources/images/FlechaAzul01.svg') !important;
    height: 18px !important;
    width: 24px !important;
    padding-bottom: 0px ! important;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

.icon-azul-reves {
    background-image: url('../resources/images/FlechaAzul01.svg') !important;
    height: 16px !important;
    width: 24px !important;
    padding-top: 4px ! important;
}

.panelgrisindicoselected {
	background: #eeeeee;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	width: 100% !important;
	height: 24px !important;
	color: #003E6C;
}

.panelgrisindicounselected {
	background: #eeeeee;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
	width: 100% !important;
	height: 24px !important;
	color: #003E6C;
}


.selectDownload {
/* 	width: 100px !important; */
}

.ui-accordion-header {
	background: #eeeeee !important;
	height: 40px;
}

.ui-accordion .ui-icon.ui-icon-triangle-1-e {
    background-image: url('../resources/images/FlechaAzul01.svg');
    width: 24px;
    background-position: 0 0; 
    padding: 4px 4px 0px 4px !important ; 
}

.ui-accordion-header span.ui-icon.ui-icon-triangle-1-s {
    background-image: url('../resources/images/FlechaAzul01.svg');
    width: 24px;
    background-position: 0 0; 
    padding: 0px 0px 2px 0px !important ; 
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

.ui-breadcrumb-chevron.ui-icon.ui-icon-triangle-1-e {
	background-image: none   !important;
	background-position: 0 0;
}

.ui-breadcrumb ul li ::before .ui-breadcrumb-chevron .ui-icon.ui-icon-triangle-1-e  { 
	content: "\/" !important;
	background-repeat: no-repeat;
} 



